@font-face {
    font-family: 'Gotham Book';
    src: url('./fonts/Gotham-Book.eot'), /* IE9 Compat Modes */
        url('./fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
        url('./fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('./fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('./fonts/Gotham-Medium.eot'), /* IE9 Compat Modes */
        url('./fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
        url('./fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('./fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Gotham Medium', 'Arial', 'Helvetica', 'sans-serif';
    overflow-x: hidden;
    color: #8c8c8c;
    font-size: 16px;
}

hr.secondary {
    margin: 0;
    border: none;
    border-top: 1px solid #6ad1e3;
}

hr.primary {
    margin: 0;
    border: none;
    border-top: 1px solid #ea3f4b;
}

/* Helpers */
.background-primary {
    background-color: #ea3f4b;
}
.background-secondary {
    background-color: #6ad1e3;
}
.no-padding {
    padding: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}

/* Globals */
span.highlighted * {
    margin: 0.1em;
    position: relative;
    margin-left: -0.33em;
    font-weight: lighter;
    display: inline-block;
    line-height: 1em;
    height: 1.33em;
    border-radius: 0.1em;
    padding: 0.25em;
}

button,
a.button {
    font-size: 0.7883em;
    background: #fff;
    border: 1px solid #8c8c8c;
    padding: 0.75em 1em;
    height: 2.87em;
    border-radius: 6px;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
    transition: all 0.33s ease-in-out;
}
    button:hover,
    a.button:hover {
        background: #6ad1e3;
        color: #fff;
        border: 1px solid transparent;
    }
    button:focus,
    a.button:focus {
        outline: none;
    }

/* Top Nav Styles */
section.top-nav {
    padding: 0.66em;
    text-align: right;
}
    section.top-nav a {
        color: #fff;
        font-size: 13px;
        margin-right: 2em;
    }
       
/* Header Image Styles */
section.header-image {
    min-height: 720px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}
    section.header-image .logo {
        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
    }
    section.header-image .headline {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin-top: -5em;
    }
    section.header-image h1 {
        color: #fff;
        font-size: 4.5em;
        background-color: #ea3f4b;
    }
    
    section.header-image .videos-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 0.66em;
        background-color: rgba(255,255,255,0.5);
    }
        section.header-image .videos {
            text-align: center;
        }
            section.header-image .videos img {
                margin: 0 0.16em;
                cursor: pointer;
                opacity: 0.5;
                width: 240px;
                -webkit-transition: opacity 0.33s ease-in-out;
                -moz-transition: opacity 0.33s ease-in-out;
                transition: opacity 0.33s ease-in-out;
            }
            section.header-image .videos img:hover {
                opacity: 1;
            }
            
/* Main Nav Styles */
nav.main {
    border-bottom: 1px solid #ea3f4b;
    border-top: 1px solid #ea3f4b;
    padding: 2.5em 0;
}
    nav.main a,
    nav.main img {
        text-decoration: none;
        margin-right: 2.66em;
        color: #4c4c4c;
        -webkit-transition: color 0.33s ease-in-out;
        -moz-transition: color 0.33s ease-in-out;
        transition: color 0.33s ease-in-out;
    }
    nav.main a:last-child {
        margin-right: 0;
    }
    
    nav.main a:hover {
        color: #6ad1e3;
    }
    
/* Mobile Nav Styles */
nav.mobile {
    position: fixed;
    top: 0;
    padding: 1.33em;
    z-index: 20;
    box-shadow: 0 0 20px 0 #4c4c4c;
}
    nav.mobile img {
        height: 2em;
    }
    nav.mobile ul {
        display: block;
        position: absolute;
        left: 0;
        list-style: none;
        width: 100%;
        margin: 1em 0;
        padding: 2em;
        z-index: 10;
        transform: translate3d(0, -200%, 0);        
        -webkit-transition: all 0.33s ease-in-out;
        -moz-transition: all 0.33s ease-in-out;
        transition: all 0.33s ease-in-out;
    }
    nav.mobile ul.show {
        transform: translate3d(0, 0, 0);
    }
        nav.mobile ul a {
            color: #fff;
            text-decoration: none;
        }
            nav.mobile ul li {
                display: block;
                margin: 2em 0 0 0;
                border-bottom: 1px solid rgba(255,255,255,0.33);
            }
    
/* Info Sections Styles */
section.info {
    overflow: hidden;
    margin: 6em 0 0 0;
    background-size: 50% auto;
    background-repeat: no-repeat;
    min-height: 420px;
}
    section.info h3 {
        color: #fff;
        font-size: 2em;
        background-color: #6ad1e3;
        position: relative;
        left: 0.33em;
    }
    section.info .copy {
        margin: 2em 0;
    }
        section.info .copy p {
            margin: 0.33em 0;
        }
    section.info button {
        margin-bottom: 3em;
    }

/* Section Images */    
section.info.get-started {
    background-position: bottom left;
    background-image: url('../img/get-started.jpg');
}

section.info.care-coordinator {
    background-position: bottom right;
    background-image: url('../img/care-coordinator.jpg');
}

section.info.rewards {
    background-position: bottom left;
    background-image: url('../img/rewards.jpg');
}
    
/* Contact Us Styles */
section.contact-us {
    margin: 5em 0;
}
    section.contact-us > div {
        text-align: center;
    } 
    section.contact-us > div hr {
        margin: 0 25%;
    }
    section.contact-us > div img {
        width: 100%;
        max-width: 128px;
        margin-bottom: 1em;
    }
    section.contact-us > div button {
        border: 1px solid #ea3f4b;
        color: #ea3f4b;
    }
    section.contact-us > div button:hover {
        background-color: #ea3f4b;
        color: #fff;
    }
    
/* Extra Small (xs) */
@media (max-width: 767px) {
    section.header-image {
        min-height: 600px;
        background-image: url('../img/mobile/background.jpg');
    }
        section.header-image .headline {
            top: 33%;
        }
        section.header-image h1 {
            font-size: 2.8em;
        }
        
    nav.mobile .top-nav {
        text-align: left;
        padding: 0;
    }
        nav.mobile .top-nav a {
            white-space: nowrap;
        }
    
    section.info {
        text-align: center;
        background-image: none !important;
    }
        section.info h3 {
            color: #6ad1e3;
            font-size: 1.8em;
            background-color: transparent;
            position: relative;
            left: 0;
        }
    
    section.contact-us > div {
        text-align: left;
    }
}

/* Small (sm) */
@media (min-width: 768px) and (max-width: 991px) {
    section.header-image h1 {
        font-size: 3.5em;
    }
    
    .container {
        width: 100%;
    }
}